{% extends "base.html" %}
{% block css %}
<link href="{{ url_for('static',filename='css/bookstyle.css') }}" rel="stylesheet">

{% endblock %}
{% block content %}
</div>
<div class="section" id="booking">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="booking-cta">
                        <h1>Make your reservation</h1>
                        Standard Twin : Consist of 2 single beds<br>
                        Standard Queen : Consist of 1 Queen size bed<br>
                        Deluxe : Consist of 1 Queen size bed and 1 sofa bed<br>
                        All room-types come with Complimentary Broadband (wifi 1 mbps per user)
                    </div>
                </div>
                <div class="col-md-6 offset-md-1">
                    <div class="booking-form">
                        <form action="" method="post">
                            {{ form.csrf_token }}
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-md col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Room Type</span>
                                        {{ form.room_type(class_="form-control form-control-lg" + (" is-invalid" if
                                        form.room_type.errors else "") + "") }}
                                    </div>
                                    {% for error in form.room_type.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.start_date.label }}
                                        {{ form.start_date(class_="form-control form-control-lg" + (" is-invalid" if
                                        form.start_date.errors else "") + "", placeholder="Enter your start date") }}
                                    </div>
                                    {% for error in form.start_date.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.end_date.label }}
                                        {{ form.end_date(class_="form-control form-control-lg" + (" is-invalid" if
                                        form.end_date.errors else "") + "", placeholder="Enter your end date") }}
                                    </div>
                                    {% for error in form.end_date.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-btn">
                                <!--									<button class="submit-btn">Book Now</button>-->
                                {{ form.submit(class="btn btn-lg submit-btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.form-control').each(function () {
        floatedLabel($(this));
    });

    $('.form-control').on('input', function () {
        floatedLabel($(this));
    });

    function floatedLabel(input) {
        var $field = input.closest('.form-group');
        if (input.val()) {
            $field.addClass('input-not-empty');
        } else {
            $field.removeClass('input-not-empty');
        }
    }
</script>
</body>
{% endblock %}