{% extends "base.html" %}

{% block content %}


         <div id="showcase">
           <div class="container">
               <div class="showcase-content">
                   <h1>Welcome {{username}}! You are logged In! </h1>
                   <h1><span class="text-primary-1">Enjoy</span> your stay</h1>
                   <p class="lead">The Cozy Inn welcomes you to have a fantastic time here</p>
                   <a class="btn" href="about.html">About our hotel</a>
               </div>
           </div>
         </div>

    <section id="home-info" class="bg-dark">
        <div class="info-img"></div>
        <div class="info-content">
          <h2><span class="text-primary-1">History</span> of out Hotel</h2>
          <p>
              Founded in 2010, The Cozy Inn is the built with hospitality and affordability in mind,
              making it one of the best affordable 5 star hotels in the country
          </p>
          <a href="about.html" class="btn btn-light">Read More</a>
        </div>
      </section>
       <section id="features">
           <div class="box bg-light">
            <i class="fas fa-hotel fa-3x"></i>
               <h3>Great Location</h3>
               <p>Many restauraunts,parks and sightseeing locations are very near the Cozy Inn.</p>
           </div>
           <div class="box bg-primary-1">
            <i class="fas fa-utensils fa-3x"></i>
            <h3>Free Meals</h3>
            <p>Free breakfast and lunch every day here at the Cozy Inn with a buffet style serving.</p>
           </div>
           <div class="box bg-light">
            <i class="fas fa-dumbbell fa-3x"></i>
            <h3>Gym</h3>
            <p>Our gym comes equipped with all the best and high quality equipments for your body building needs.</p>
           </div>
       </section>
       <footer id="main-footer">
       </footer>

{% endblock %}