<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #8B8000;} /* Yellow */
.button4 {background-color: #8B0000;} /* Red */

</style>
</head>
<body style="background-color:powderblue;">

<h1>Welcome to the Manager dashboard</h1>
<p>Here you can perform activities to manage your hotel staffs</p>

<a href="{{url_for('logout')}}">
<button class="button button1">Register A New Staff</button>
</a>


<button class="button button3">Update Staff Details</button>

<button class="button button4">Delete A Staff</button>

<a href="{{url_for('stafftable')}}">
<button class="button button2">View All Staff Details</button>
</a>

<br><br>
<a href= "{{url_for('logout')}}">Press here to logout</a><br>

</body>
</html>
