{% extends "base_customer.html" %}
{% block css %}
<link href="{{ url_for('static',filename='css/tablestyle.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="container">
        <br>
      <h1>Delete Bookings</h1>
        <h2>You may only delete bookings at least 7 days from now.</h2>
<br>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>

                    {% endfor %}
                {% endif %}
                {% endwith %}
      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>
                        <th scope="col">Room Number</th>
        <th scope="col">Room Type</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Booking Status</th>
        <th scope="col">Booked at</th>
        <th scope="col">Delete</th>

            </tr>
          </thead>
          <tbody>
                {% for booking in bookings %}
     <form action = "{{url_for('deleteBookingConfirm', id=booking[7])}}" method = "POST">

    <tr scope="row">
          {{ delete.csrf_token }} <!-- generates a random hidden field used to protect against CSRF attacks-->
        <td>{{ booking[0] }}</td>
        <td>{{ booking[1] }}</td>
        <td>{{ booking[2] }}</td>
        <td>{{ booking[3] }}</td>
        <td>{{ booking[4] }}</td>
        <td>{{ booking[5] }}</td>
        <td>{{ delete.deleteButton(class="btn btn-sm submit-btn bg-danger") }}</button></td>

    </tr></form>
                <tr class="spacer"><td colspan="100"></td></tr>
       {% endfor %}


          </tbody>
        </table>
      </div>


    </div>
{% endblock %}