<h1>Update Staff Details</h1>
<form action="{{url_for('staffUpdateSubmit')}}" method = "POST">
  <p>firstname <input name="firstname" type = "text" firstname = "firstname" value=""/></p>
  <p>lastname <input name="lastname" type = "text" lastame = "lastname"  value=""/></p>
  <p>email <input name="email" email="email" type = "text" email = "email" value=""/></p>
  <p>contact <input name="contact" type = "integer" contact = "contact" value=""/></p>
  <p>Updating details for employee</p>
  <p><input type = "submit" value = "Submit" /></p>
</form>