{% extends "home_base.html" %}
{% block css %}
<link href="{{ url_for('static',filename='css/mfa.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
    {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>

                    {% endfor %}
                {% endif %}
    {% endwith %}

        <div class="card p-2 text-center"><h6>Please enter the one time password <br> to verify your account</h6>
<!--            <div><span>A code has been sent to</span> <small></small></div>-->
            <div class="inputs d-flex flex-row justify-content-center mt-2" id="otp"><input
                    class="m-2 text-center form-control rounded" id="first" maxlength="1" type="text"/> <input
                    class="m-2 text-center form-control rounded" id="second" maxlength="1" type="text"/> <input
                    class="m-2 text-center form-control rounded" id="third" maxlength="1" type="text"/> <input
                    class="m-2 text-center form-control rounded" id="fourth" maxlength="1" type="text"/> <input
                    class="m-2 text-center form-control rounded" id="fifth" maxlength="1" type="text"/> <input
                    class="m-2 text-center form-control rounded" id="sixth" maxlength="1" type="text"/></div>
            {% for error in form.mfa.errors %}
                 <span style="color: red;">{{ error }}</span>
                 {% endfor %}<div class="mt-4">
             <form action="" method="post">
                 {{ form.csrf_token }}
                 {{form.mfa}}

                 <div></div>
                <button class="btn btn-danger px-4 validate" id="otpSubmit">Validate</button>
             </form>
            </div>
        </div>
        <div class="card-2">
            <div class="content d-flex justify-content-center align-items-center"><span>Didn't get the code</span> <a
                    class="underline-text ms-3" href="#">Resend</a></div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {

        function OTPInput() {
            const inputs = document.querySelectorAll('#otp > *[id]');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('keydown', function (event) {
                    if (event.key === "Backspace") {
                        inputs[i].value = '';
                        if (i !== 0) inputs[i - 1].focus();
                    } else {
                        if (i === inputs.length - 1 && inputs[i].value !== '') {
                            return true;
                        } else if (event.keyCode > 47 && event.keyCode < 58) {
                            inputs[i].value = event.key;
                            if (i !== inputs.length - 1) inputs[i + 1].focus();
                            event.preventDefault();
                        } else if (event.keyCode > 64 && event.keyCode < 91) {
                            inputs[i].value = String.fromCharCode(event.keyCode);
                            if (i !== inputs.length - 1) inputs[i + 1].focus();
                            event.preventDefault();
                        }
                    }
                });
            }
        }

        OTPInput();


    });
    document.getElementById('otpSubmit').addEventListener("click", function() {
  const inputs = document.querySelectorAll('#otp > *[id]');
  let compiledOtp = '';
  for (let i = 0; i < inputs.length; i++) {
    compiledOtp += inputs[i].value;
  }
  document.getElementById('mfa').value = compiledOtp;
  return true;
});

</script>
{% endblock %}