{% extends "base_home.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/@zxcvbn-ts/core@2.0.0/dist/zxcvbn-ts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@zxcvbn-ts/language-common@2.0.0/dist/zxcvbn-ts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@zxcvbn-ts/language-en@2.0.0/dist/zxcvbn-ts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@zxcvbn-ts/matcher-pwned@2.0.0/dist/zxcvbn-ts.js"></script>

<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h2>Create your Cozy Inn guest account</h2>
                    <p class="lead">
                        Create an account to start booking your next vacation!
                    </p>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form action="" method="post">
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    {{ form.firstname.label }}
                                    {{ form.firstname(class_="form-control form-control-lg" + (" is-invalid" if
                                    form.firstname.errors else "") + "", placeholder="Enter your first name") }}
                                </div>
                                {% for error in form.firstname.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.lastname.label }}
                                    {{ form.lastname(class_="form-control form-control-lg" + (" is-invalid" if
                                    form.lastname.errors else "") + "", placeholder="Enter your last name") }}
                                </div>
                                {% for error in form.lastname.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.email.label }}
                                    {{ form.email(class_="form-control form-control-lg" + (" is-invalid" if
                                    form.email.errors else "") + "", placeholder="Enter your email") }}
                                </div>
                                {% for error in form.email.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.username.label }}
                                    {{ form.username(class_="form-control form-control-lg" + (" is-invalid" if
                                    form.username.errors else "") + "", placeholder="Enter your username") }}
                                </div>
                                {% for error in form.username.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.password.label }}
                                    {{ form.password(data_toggle="popover",
                                    class_="form-control form-control-lg " + (" is-invalid" if
                                    form.password.errors else "") + "", placeholder="Enter your password") }}
                                    <div class="row d-none" id="password-bar">
                                        <p><span></span></p>
                                        <div class="col-6">
                                            <div class="progress">
                                                <div aria-valuemax="10"
                                                     aria-valuemin="0"
                                                     aria-valuenow="0"
                                                     class="progress-bar"
                                                     id="password-strength"
                                                     role="progressbar"
                                                     style="width:0%">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 text-end">
                                            <small class="form-text text-muted">
                                                Password strength:
                                            </small>
                                            <p class="d-inline font-weight-bold" id="password-strength-text"></p>
                                        </div>
                                    </div>
                                </div>
                                {% for error in form.password.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.password_confirm.label }}
                                    {{ form.password_confirm(class_="form-control form-control-lg" + (" is-invalid" if
                                    form.password_confirm.errors else "") + "", placeholder="Confirm your password") }}
<!--                                    <div class="row d-none" id="password-bar2">-->
<!--                                        <p><span></span></p>-->
<!--                                        <div class="col-6">-->
<!--                                            <div class="progress">-->
<!--                                                <div aria-valuemax="10"-->
<!--                                                     aria-valuemin="0"-->
<!--                                                     aria-valuenow="0"-->
<!--                                                     class="progress-bar"-->
<!--                                                     id="password-strength2"-->
<!--                                                     role="progressbar"-->
<!--                                                     style="width:0%">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="col-6 text-end">-->
<!--                                            <small class="form-text text-muted">-->
<!--                                                Password strength:-->
<!--                                            </small>-->
<!--                                            <p class="d-inline font-weight-bold" id="password-strength-text2"></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </div>
                                {% for error in form.password_confirm.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.contact.label }}
                                    {{ form.contact(class_="form-control form-control-lg" + (" is-invalid" if
                                    form.contact.errors else "") + "", placeholder="Enter your mobile number") }}
                                </div>
                                {% for error in form.contact.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}

                                <div class="text-center mt-3">
                                    {{ form.submit(class="btn btn-lg btn-primary") }}
                                    <!--                                    <button-->
                                    <!--                                        type="reset"-->
                                    <!--                                        name="reset"-->
                                    <!--                                        value="Reset"-->
                                    <!--                                        class="btn btn-light"-->
                                    <!--                                        autocomplete="off"-->
                                    <!--                                    >Clear</button>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="text-center rsignin">
                    <a href="{{url_for('login')}}">Return to sign in</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const options = {
        translations: zxcvbnts['language-en'].translations,
        graphs: zxcvbnts['language-common'].adjacencyGraphs,
        dictionary: {
            ...zxcvbnts['language-common'].dictionary,
            ...zxcvbnts['language-en'].dictionary,
        },
    }

    matcherPwned = zxcvbnts["matcher-pwned"]['default'](fetch, zxcvbnts.core.zxcvbnOptions)
    zxcvbnts.core.zxcvbnOptions.addMatcher('pwned', matcherPwned)

    zxcvbnts.core.zxcvbnOptions.setOptions(options)
    var myPopoverTrigger = document.getElementById('password')
    var myPopover = new bootstrap.Popover(myPopoverTrigger,{
        content: 'Enter password',
        trigger: 'focus',
    })


    var pwnedtxt;
    const someCallableFunction = (password, passwordBar, passwordStrength, text) => {
        // ...do your magic for example get the value from an input field or somewhere else
        // let pass = document.getElementById("password").value;
        // const results = zxcvbnts.core.zxcvbn(password);
        // const strength = results.score;

        zxcvbnts.core.zxcvbnAsync(password).then((result) => {
            // console.log(result.feedback.warning
                var popover = bootstrap.Popover.getInstance(myPopoverTrigger)
            if (pwnedtxt != result.feedback.warning){
                    // change the content
                popover._config.content = result.feedback.warning
                popover.setContent();
                pwnedtxt = result.feedback.warning
            }


    // var popover = $('#password').attr('data-content', result.feedback.warning).data('bs.popover');
    // popover.setContent();
    // popover.$tip.addClass(popover.options.placement).removeClass('danger success info warning primary').addClass(pclass);

            const results = result
            const strength = results.score
        // console.log(results)

        // console.log(strength)
        // If value is less than 2
        if (password.length > 0) {
            passwordBar.classList.remove('d-none')
        } else {
            passwordBar.classList.add('d-none')
        }
        if (strength <= 1) {
            passwordStrength.classList.remove('bg-warning');
            passwordStrength.classList.remove('bg-success');
            passwordStrength.classList.add('bg-danger');
            passwordStrength.style = 'width: 25%';
            text.innerHTML = "Bad";
        } else if (strength == 2) {
            passwordStrength.classList.remove('bg-success');
            passwordStrength.classList.remove('bg-danger');
            passwordStrength.classList.add('bg-warning');
            passwordStrength.style = 'width: 50%';
            text.innerHTML = "Weak";
        } else if (strength == 3) {
            passwordStrength.classList.remove('bg-warning');
            passwordStrength.classList.remove('bg-danger');
            passwordStrength.classList.add('bg-success');
            passwordStrength.style = 'width: 75%';
            text.innerHTML = "Good";
        } else if (strength == 4) {
            passwordStrength.classList.remove('bg-warning');
            passwordStrength.classList.remove('bg-danger');
            passwordStrength.classList.add('bg-success');
            passwordStrength.style = 'width: 100%';
            text.innerHTML = "Strong";
        }
        })
    }

    const debouncedZxcvbn = zxcvbnts.core.debounce(someCallableFunction, 50)
    // debouncedZxcvbn()


    let password = document.getElementById('password');
    let passwordBar = document.getElementById('password-bar');
    let passwordStrength = document.getElementById("password-strength");
    let text = document.getElementById('password-strength-text');
    password.addEventListener("input", function () {
        let pass = document.getElementById("password").value;
        debouncedZxcvbn(pass, passwordBar, passwordStrength, text)
        // checkStrength();
    });
    // let password2 = document.getElementById('password_confirm');
    // let passwordBar2 = document.getElementById('password-bar2');
    // let passwordStrength2 = document.getElementById("password-strength2");
    // let text2 = document.getElementById('password-strength-text2');
    // password2.addEventListener("input", function () {
    //     let pass2 = document.getElementById("password_confirm").value;
    //     debouncedZxcvbn()
        // checkStrength(pass2, passwordBar2, passwordStrength2, text2);
    // });



</script>

{% endblock %}