{% extends "base_manager.html" %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h2>Register a new staff account</h2>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form action="" method="post">
                                {{form.hidden_tag() }}
                                <div class="form-group">
                                    {{ form.firstname.label }}
                                    {{ form.firstname(class_="form-control form-control-lg" + (" is-invalid" if
                                    form.firstname.errors else "") + "", placeholder="Enter first name") }}
                                </div>
                                {% for error in form.firstname.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.lastname.label }}
                                    {{ form.lastname(class_="form-control form-control-lg" + (" is-invalid" if
                                    form.lastname.errors else "") + "", placeholder="Enter last name") }}
                                </div>
                                {% for error in form.lastname.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.email.label }}
                                    {{ form.email(class_="form-control form-control-lg" + (" is-invalid" if
                                    form.email.errors else "") + "", placeholder="Enter email") }}
                                </div>
                                {% for error in form.email.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form.username.label }}
                                    {{ form.username(class_="form-control form-control-lg" + (" is-invalid" if
                                    form.username.errors else "") + "", placeholder="Enter username") }}
                                </div>
                                {% for error in form.username.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}


                                <div class="form-group">
                                    {{ form.contact.label }}
                                    {{ form.contact(class_="form-control form-control-lg" + (" is-invalid" if
                                    form.contact.errors else "") + "", placeholder="Enter mobile number") }}
                                </div>
                                {% for error in form.contact.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}

                                <br>
                                <div class="d-flex justify-content-center">{{form.recaptcha}}</div>
                                    {% for error in form.recaptcha.errors %}
                                    <span class="text-center mt-3" style="color: red;">{{ error }}</span>
                                    {% endfor %}

                                <div class="text-center mt-3">
                                    {{ form.submit(class="btn btn-lg btn-primary") }}
                                    <!--                                    <button-->
                                    <!--                                        type="reset"-->
                                    <!--                                        name="reset"-->
                                    <!--                                        value="Reset"-->
                                    <!--                                        class="btn btn-light"-->
                                    <!--                                        autocomplete="off"-->
                                    <!--                                    >Clear</button>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}