<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Dobro dosli u najbolji kafic na svetu" />
    <meta name="keywords" content="Kafic" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>The Cozy Inn - Homepage</title>
  </head>
  <body>
    <header>
      <nav id="navbar">
        <div class="container">
          <h1 class="logo">The Cozy Inn Hotel</h1>
        </div>
      </nav>
      <section>
        <container align="center"> 
            <div class="g-col-6 g-col-md-4">
                <img src="/static/img/questions.jpg" class="center">
                </div>  
      <h1 style="color:Tomato;"> 500 Internal Server Error. </h1>
      <h4>Warning! There an internal error or misconfiguration and was unable to complete your request.</h4>
      <h5>
        Please return to Home page.
      </h5>
      <br></br>
      <div class="g-col-6 g-col-md-4">
        <a align="center" style="color: DodgerBlue" href="{{url_for('home')}}">Home</a></div>
    </container>
    </section>
    </header>
  </body>
</html>

<style>
    section {
        float: left;
        padding: 20px;
        width: 100%;
        background-color: #f1f1f1;
        height: 650px; 
      }
</style>