<!DOCTYPE html>
<html>
  <head>
	  <style>
		  #navbar{
    background:#333;
    color:#fff;
    overflow:auto;
}

#navbar a{
    color:#fff
}

#navbar h1{
    float:left;
    padding-top:20px;
}

#navbar ul{
    list-style:none;
    float:right;
}

#navbar ul li {
 float:left;
}

#navbar ul li a{
    display:block;
    padding:20px;
    text-align: center;
}

#navbar ul li a:hover,
 #navbar ul li a.current{
    background:#444;
    color:#f7c08a;
}
	  </style>
    <title></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>

<center>
<h2>Congratulation! You have successfully created a staff account!
    The new staff can now login into his/her account</h2>
    <a href="{{url_for('managerdashboard')}}">Click here to return to the dashboard page</a>
    </center>
